*,
*::before,
*::after{
  box-sizing: border-box;
}

:root{
  --icon: url("./nft-preview-card-component-main/nft-preview-card-component-main/images/icon-view.svg")
}

@font-face{
  font-family: "Outfit";
  src: url("./Outfit/Outfit-VariableFont_wght.ttf") format("truetype");
}

body{
  background: hsl(217, 54%, 11%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  line-height: 1.2;

}

h2{
  transition: all 0.25s ease-in-out;
}

.container{
  background: hsl(216, 50%, 16%);
  width: 100%;
  max-width: 400px;
  font-family: "Outfit", sans-serif;
  padding: 1em 0;
  border-radius: 10px;
  color: white;
  outline: 20px solid hsla(215, 51%, 16%, 0.13);
}

b{
  color: hsl(178, 100%, 50%);
}

.child__wrapper{
  width: 90%;
  margin: 0 auto;
}

.img{
  position: relative;  /* set parents position to relative to prevent all child elements from leaking out when position is set to absolute */
  overflow: hidden;
}

.container__img{
  border-radius: 10px;
}

.img::before{ /* pseudo class to prevent interferance with img container */
  content: var(--icon);
  position: absolute;  /* used to center position */
  inset: 0; /* short hand for positioning */
  opacity: 0; 

  display:grid;
  place-content: center;
  transition: all 0.25s ease-in-out;
  
}

.img:hover::before {
  opacity: 1;
  background: rgba(0, 255, 255, 0.5);
  border-radius: 11px;
  cursor: pointer;
}


p{
  font-size: 1.2rem;
  color: hsl(215, 51%, 70%);
  display: flex;

}

.center{
  display: flex;
  justify-content:space-between;
}

.center--wrapper{
  display: flex;
  align-items: center;
  gap: 4px;
}

.container__bottom{
  display: flex;
  align-items: center;
  gap: 10px;
  border-top: 1px ridge hsl(215, 32%, 27%);
  padding: 1em 0;
}



img{
  max-width: 100%;
}

.avatar{
  width: 15%;
  height: 15%;
  border: 1px solid white;
  border-radius: 100px;
}

span{
  color: white;
  margin-left: 0.2em;
  transition: all 0.25s ease-in-out;
}

h2:hover, span:hover{
  color: cyan;
  cursor: pointer;
}
